@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

hr {
  color: #eaecf0;
}

p {
  color: #667085;
  font-size: 20px;
}

.question p {
  color: #101828;
}

.question span {
  color: #667085;
}

.btn {
  background-color: #7f56d9;
  color: white;
  border: none;
  padding: 16px 28px 16px 28px;
  border-radius: 0.5rem;
}

.gri-border {
  border: solid 1px #d0d5dd;
}

.modal-button button {
  color: #7f56d9;
  background-color: #fff;
  border: none;
}

.active {
  background-color: #7f56d9 !important;
  color: #fff !important;
}

.nav {
  width: 100vw;
  border: 1xp solid #f2f4f7;
  position: fixed;
  background-color: white;
  z-index: 80;
}

.pad {
  padding: 0.8rem 3.75rem 0.8rem 3.75rem;
}

section {
  padding: 3.75rem 9.375rem 3.75rem 9.375rem;
}

/* SECTION FEATURES */
.feature-item img {
  width: 20px;
}

.feature-item p {
  text-align: center;
}

/* MODAL  */
.preference {
  border: 1px solid #d0d5dd;
  border-radius: 10px;
  display: flex;
  gap: 5px;
  padding: 1rem;
}

.privacy-border {
  border: 1px solid #d0d5dd;
  border-radius: 10px;
}

.flex-2 {
  flex: 2;
}

.flex-7 {
  flex: 7;
}

footer {
  width: 100vw;
}

@media (max-width: 920px) {
  .container {
    background-image: none;
    height: 400px;
  }

  .pad {
    padding: 6px 30px 6px 30px;
  }

  section {
    padding: 30px 75px 30px 75px;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.8rem;
  }

  footer .links ul {
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 110px;
  }

  .buttons {
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 700px) {
  section {
    padding: 15px 40px 15px 40px;
  }
}
